body {
  margin: 0;
  line-height: normal;
}
.image-1-icon1 {
  position: absolute;
  height: 101.16%;
  width: 130.93%;
  top: 0;
  right: -30.93%;
  bottom: -1.16%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-div14 {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 52px;
  height: 53px;
  flex-shrink: 0;
  overflow: hidden;
}
.jacob1 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  color: var(--color-gold);
}
.frame-div13,
.frame-div15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-div13 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
}
.group-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.frame-div12,
.frame-div16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-div16 {
  border-radius: var(--br-lg);
  background-color: var(--color-beige);
  overflow: hidden;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-base);
  color: var(--color-orange-400);
}
.frame-div12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 311px;
  align-items: center;
  gap: var(--gap-md);
}
.play-earn1,
.tap-here-to-earn-more-points-i1 {
  position: absolute;
  top: 40px;
  left: 24px;
  display: inline-block;
}
.tap-here-to-earn-more-points-i1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 84px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-futura);
  color: var(--color-gray-400);
  text-align: left;
  width: 262px;
}
.group-icon4 {
  position: absolute;
  bottom: -68.67px;
  left: -58.89px;
  width: 396.77px;
  height: 346.7px;
}
.rectangle-icon1 {
  position: absolute;
  top: 462.56px;
  left: 201.54px;
  border-radius: var(--br-xs);
  width: 58.65px;
  height: 45.9px;
}
.play-now-b1 {
  position: relative;
  display: inline-block;
}
.frame-div19 {
  position: absolute;
  top: 146px;
  left: 18.13px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 4px 0 rgba(223, 110, 6, 0.8);
  width: 273px;
  height: 51px;
  display: none;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-gold);
}
.frame-div18,
.frame-textarea1 {
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-gold);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  width: 311px;
  height: 501px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-textarea1 {
  border: 0;
  background-color: var(--color-orange-300);
}
.learn-how-to-get-started-with1,
.watch-learn1 {
  position: absolute;
  left: 24px;
  display: inline-block;
}
.watch-learn1 {
  top: 40px;
  font-size: var(--font-size-xl);
}
.learn-how-to-get-started-with1 {
  top: 84px;
  font-weight: 500;
  color: var(--color-gray-400);
  width: 262px;
}
.group-icon5 {
  position: relative;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}
.play-div {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.frame-div21 {
  position: absolute;
  top: calc(50% + 137.5px);
  left: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-gray-100);
}
.frame-div20 {
  position: relative;
  border-radius: var(--br-sm);
  width: 311px;
  height: 501px;
  flex-shrink: 0;
  overflow: hidden;
  background-image: url(./public/frame-641@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
  font-size: var(--font-size-base);
}
.frame-div17 {
  position: absolute;
  top: 93px;
  left: -654px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}

.frame-div22,
.swipe-div1 {
  border-radius: var(--br-sm);
  overflow: hidden;
}
.frame-div22 {
  position: absolute;
  top: 167px;
  left: 633px;
  width: 311px;
  height: 501px;
  background-image: url(./public/frame-641@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-base);
  color: var(--color-white);
}

@media screen and (min-width:360px) and (max-width:374px) {
  .frame-div22 {
    position: absolute;
    top: 25%;
    left: 7.5%;
    flex-direction: column;
  }
}

@media screen and (min-width:375px) and (max-width:767px) {
  .frame-div22 {
    position: absolute;
    top: 26%;
    left: 12%;
    flex-direction: column;
  }
}

@media screen and (min-width:768px) and (max-width:819px) {
  .frame-div22 {
    position: absolute;
    top: 26%;
    left: 30%;
    flex-direction: column;
  }
}

@media screen and (min-width:820px) and (max-width: 1023px) {
  .frame-div22 {
    position: absolute;
    top: 33%;
    left: 34.5%;
    flex-direction: column;
  }
}

@media screen and (min-width:1024px) and (max-width: 1999px) {
  .frame-div22 {
    position: absolute;
    top: 26%;
    left: 41.5%;
    flex-direction: column;
  }
}

@media screen and (min-width:768px) and (max-width:819px) {
  .frame-div11 {
    position: absolute;
    top: 10%;
    left: 30.5%;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (min-width:360px) and (max-width:374px) {
  .frame-div11 {
    position: absolute;
    top: 15%;
    left: 7.5%;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (min-width:375px) and (max-width:767px) {
  .frame-div11 {
    position: absolute;
    top: 15%;
    left: 13%;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (min-width:820px) and (max-width: 1023px) {
  .frame-div11 {
    position: absolute;
    top: 20%;
    left: 34.5%;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (min-width:1024px) and (max-width: 1999px) {
  .frame-div11 {
    position: absolute;
    top: 10%;
    left: 41.5%;
    flex-direction: column;
    gap: 40px;
  }
}

.swipe-div1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 766px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-futura);
}
